<div class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-start">
            <h2>최신 온라인 강의</h2>
            <a routerLink="/allcourses" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span
                    class="label">All Courses</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <!-- 메인페이지강의 시작 -->
        <ngx-tabset>
            <ngx-tab tabTitle="전체강의">
                <div class="row">

                    <div class="col-lg-4 col-md-6" *ngFor="let course of allcourses">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/single-courses" class="d-block"></a>
                                <div class="courses-tag">
                                    <a routerLink="/" class="d-block">{{course.subject}}</a>
                                </div>
                            </div>
                            <div class="courses-content">
                                <div class="course-author d-flex align-items-center">
                                    <span>{{course.teacher}}</span>
                                </div>
                                <h3><a routerLink="/single-courses/{{course.id}}"
                                        class="d-inline-block">{{course.subject}}</a>
                                </h3>
                                <div class="courses-rating">

                                </div>
                            </div>
                            <div class="courses-box-footer">
                                <ul>
                                    <li class="students-number">
                                        <i class='bx bx-user'></i> {{course.last_upload}} 강의
                                    </li>
                                    <li class="courses-lesson">
                                        <i class='bx bx-book-open'></i> {{course.total_time}}
                                    </li>
                                    <li class="courses-price">
                                        Free
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </ngx-tab>

        </ngx-tabset>
        <!-- 메인페이지강의 끝 -->

    </div>
</div>