<div class="hero-banner bg-white">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content black-color">
                            <span class="sub-title">원격 인재 양성 플랫폼</span>
                            <h1>기초 과정 부터 심화 <br>과정 까지 탄탄하게 배울수 있는 온라인 강의</h1>
                            <div class="btn-box">
                                <a routerLink="/allcourses" class="default-btn"><i
                                        class='bx bx-move-horizontal icon-arrow before'></i><span class="label">View
                                        Courses</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                                <a routerLink="/register" class="optional-btn">Get Started Free</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <img src="assets/img/banner-img3.jpg" alt="image" style="width: 800px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>