<app-header></app-header>

<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>마이페이지/ 출석률 확인</li>
            </ul>
            <h2>출석률 확인</h2>
        </div>
    </div>
</div>

<div class="my-dashboard-area ptb-100">
    <div class="container">
        <div class="myDashboard-profile">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="profile-image">
                        <img src="assets/img/instructor/instructor1.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="profile-content">
                        <h3>강정후</h3>
                        <ul class="contact-info">
                            <li><i class='bx bx-envelope'></i> <a
                                    href="mailto:hello@jamesanderson.com">hello@jamesanderson.com</a></li>
                            <li><i class='bx bx-phone'></i> <a href="tel:+502464674">+502 464 674</a></li>
                            <li><i class='bx bx-world'></i> <a href="#" target="_blank">www.jamesanderson.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="myDashboard-content">
            <h3>강의별 출석률 체크</h3>
            <div class="recent-orders-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>강의</th>
                            <th>강사</th>
                            <th>출석률</th>
                            <th>상태</th>
                            <th>강의보러가기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>미적분학</td>
                            <td>강동호 교수님</td>
                            <td>87 %</td>
                            <td>수강중</td>
                            <td><a routerLink="/single-courses" class="view-button">View</a></td>
                        </tr>
                        <tr>
                            <td>C언어</td>
                            <td>김홍국 교수님</td>
                            <td>24%</td>
                            <td>수강중</td>
                            <td><a routerLink="/single-courses" class="view-button">View</a></td>
                        </tr>
                        <tr>
                            <td>유체역학</td>
                            <td>신종원 교수님</td>
                            <td>100%</td>
                            <td>수강완료</td>
                            <td><a routerLink="/single-courses" class="view-button">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>