<div class="testimonials-slides">
    <owl-carousel-o [options]="testimonialsSlides">
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>인공지능 개발자 과정에서 인공지능뿐 아니라 컴퓨터 기본 언어에서부터 프로젝트를 통한 산출물 작성 및 어플리케이션 개발까지 다 경험해볼 수 있습니다. 강력 추천합니다.</p>
                <div class="info">
                    <h3>김영승</h3>
                    <span>Student</span>
                    <div class="courses-rating">
                        <div class="review-stars-rated">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rating-total">
                            5.0
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>5개월 동안 열심히 배우고 즐겁게 지내고 수료했습니다!!

                    모르는 부분도 꼼꼼하게 알려주시고 하셔서 비전공자도 쉽게 따라 갈 수 있었어요!
                    
                    인재개발원 과정 마음에 드는 사람 접으라고 했더니 지구가 접히더라구요...
                    
                    쌤들 너무 감사하고 소중합니다......♡
                    
                    인재개발원 쌤들 너무 친절하다는게 학교의 점심..!</p>
                
                <div class="info">
                    <h3>유보윤</h3>
                    <span>Student</span>
                    <div class="courses-rating">
                        <div class="review-stars-rated">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rating-total">
                            5.0
                        </div>
                    </div>
                </div>
            </div>
            
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>사람들도 다 좋았고, 선생님도 열정적이시라서 저도 열심히 참여할 수 있었습니다.

                    덕분에 수료하고 2주만에 취업했어요!
                    
                    반 분위기가 좋아서 25명 모두 수료했어요 함께 프로젝트를 하면서 스스로의 역할도 고민해 볼 수 있었구요
                    
                    빠른취업이 목표이던 저에게  빅데이터 산업을 알게 해주었던 스인개!
                    
                    커리큘럼을 따라가다 보면 비전공자임에도 어느새 실력이 쑥쑥 늘어있는 나를 발견할 수 있었습니다!
                    
                    지금 비전공자라서 고민된다 하시는 분들은 망설이지 말고 선택하세요!
                    
                    </p>
                <div class="info">
                    <h3>장은혜</h3>
                    <span>Student</span>
                    <div class="courses-rating">
                        <div class="review-stars-rated">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rating-total">
                            5.0
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>비전공자라서 제가 이 과정을 수료할 수 있을까 겁이 났지만 친절하신 선생님들 덕분에 많은 부분을 배워갈 수 있었습니다.

                    학교에서 가끔가다 C언어 Java를 쓸일이 있으면 두려움에 앞섰는데 이 과정을 수료하고 난 뒤로는 두렵지 않습니다.
                    
                    프로그래밍이 이렇게 재미있는 줄 조금 더 빨리 알았다면 좋았겠지만 지금에서라도 알게 되어서 다행이라 생각합니다.
                    
                    저에게 이런 즐거움을 알게 해주신 스마트인재개발원 강사님들에게 정말 감사드립니다!!
                    
                    </p>
                <div class="info">
                    <h3>이조은</h3>
                    <span>Student</span>
                    <div class="courses-rating">
                        <div class="review-stars-rated">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rating-total">
                            5.0
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>
</div>