<div class="courses-categories-slides">
    <owl-carousel-o [options]="categoriesSlides">
        <ng-template carouselSlide>
            <div class="single-instructor-member mb-30">
                <div class="member-image">
                    <img src="assets/img/instructor/instructor1.jpg" alt="images" >
                </div>
                <div class="member-content">
                    <h3><a routerLink="/single-instructor">강동호 교수님</a></h3>
                    <span>미적분학</span>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-instructor-member mb-30">
                    <div class="member-image">
                        <img src="assets/img/instructor/instructor2.jpg" alt="images" >
                    </div>
                    <div class="member-content">
                        <h3><a routerLink="/single-instructor">김강욱 교수님</a></h3>
                        <span>논리와 사고</span>
                    </div>
                </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-instructor-member mb-30">
                <div class="member-image">
                    <img src="assets/img/instructor/instructor4.jpg" alt="images" >
                </div>
                <div class="member-content">
                    <h3><a routerLink="/single-instructor">송영민 교수님</a></h3>
                    <span>대학영어</span>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-instructor-member mb-30">
                    <div class="member-image">
                        <img src="assets/img/instructor/instructor5.jpg" alt="images" >
                    </div>

                    <div class="member-content">
                        <h3><a routerLink="/single-instructor">송종인 교수님</a></h3>
                        <span>수리통계학</span>
                    </div>
                </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="single-instructor-member mb-30">
                <div class="member-image">
                    <img src="assets/img/instructor/instructor6.jpg" alt="images" >
                </div>
                <div class="member-content">
                    <h3><a routerLink="/single-instructor">신종원 교수님</a></h3>
                    <span>유체역학</span>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>
</div>