<app-header></app-header>

<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>강사진/ </li>
            </ul>
            <h2>강사약력</h2>
        </div>
    </div>
</div>

<div class="instructor-details-area pt-100 pb-70">
    <div class="container">
        <div class="instructor-details-desc">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="instructor-details-sidebar">
                        <img src="assets/img/instructor/instructor1.jpg" alt="image">
                        <div class="instructor-details-meta">
                            <ul>
                                <li>
                                    <i class='bx bxs-group'></i>
                                    <span>Follower</span>
                                    <a routerLink="/">102</a>
                                </li>
                                <li>
                                    <i class='bx bx-group'></i>
                                    <span>Following</span>
                                    <a routerLink="/">81</a>
                                </li>
                            </ul>
                        </div>
                        <a routerLink="/contact" class="default-btn"><i
                                class='bx bx-plus-circle icon-arrow before'></i><span class="label">Follow</span><i
                                class="bx bx-plus-circle icon-arrow after"></i></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="instructor-details">
                        <h3>강동호 교수님</h3>
                        <span class="sub-title">미적분학</span>
                        <p>2019 MS/Ph.D. in 전자전기공학전공, 2차원 반도체 기반 공정 기술 개발 및 응용 소자 개발, 성균관대학교</p>
                        <p>2014 BS in 전자전기공학전공, 성균관대학교</p>
                        <div class="instructor-details-info">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <h3>My Education</h3>
                                    <ul>
                                        <li>
                                            <i class='bx bxs-graduation'></i>
                                            <span> 성균관대학교</span>
                                            2014 BS in 전자전기공학전공
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <h3>강사 약력</h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            <span>Postdoctoral Research Fellow, Nanyang Technological University</span>
                                            2019.03.01.~2021.09.30.
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title text-start">
            <h2>교수님 강의 목록</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a routerLink="/single-courses" class="d-block"><img src="assets/img/courses/courses2.jpg"
                                alt="image"></a>
                        <div class="courses-tag">
                            <a routerLink="/" class="d-block">미적분학</a>
                        </div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                            <span>강동호 교수님</span>
                        </div>
                        <h3><a routerLink="/single-courses" class="d-inline-block">미적분학</a></h3>
                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half'></i>
                            </div>
                            <div class="rating-total">
                                4.5 (2 rating)
                            </div>
                        </div>
                    </div>
                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 21년11월 강의
                            </li>
                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 53시간
                            </li>
                            <li class="courses-price">
                                Free
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a routerLink="/single-courses" class="d-block"><img src="assets/img/courses/courses3.jpg"
                                alt="image"></a>
                        <div class="courses-tag">
                            <a routerLink="/" class="d-block">선형대수학</a>
                        </div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                            <span>강동호 교수님</span>
                        </div>
                        <h3><a routerLink="/single-courses" class="d-inline-block">데이터 과학을 위한 선형대수학</a></h3>
                        <div class="courses-rating">
                            <div class="review-stars-rated">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half'></i>
                            </div>
                            <div class="rating-total">
                                4.5 (2 rating)
                            </div>
                        </div>
                    </div>
                    <div class="courses-box-footer">
                        <ul>
                            <li class="students-number">
                                <i class='bx bx-user'></i> 21년10월 강의
                            </li>
                            <li class="courses-lesson">
                                <i class='bx bx-book-open'></i> 65시간
                            </li>
                            <li class="courses-price">
                                Free
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>