<app-header></app-header>

<div class="error-404-area">
    <div class="container">
        <div class="notfound">
            <div class="notfound-bg">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1>현재 작업중인 페이지 입니다!</h1>

            <a routerLink="/" class="default-btn"><i class='bx bx-home-circle icon-arrow before'></i><span
                    class="label">Back Home</span><i class="bx bx-home-circle icon-arrow after"></i></a>
        </div>
    </div>
</div>