<footer class="footer-area">
    <div class="container">
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="" class="d-inline-block"><img src="assets/img/black-logo.png" alt="image"
                        style="width: 100px;"></a>
            </div>
            <p><i class='bx bx-copyright'></i>2021 <a routerLink="/" target="_blank">스마트온라인 교육 시스템</a> Designed By <a
                    href="http://bs-soft.co.kr/" target="_blank">bssoft</a> | All rights reserved.</p>
        </div>
    </div>
</footer>

<ngx-scrolltop></ngx-scrolltop>